{{ $mainPermalink := .RelPermalink }}
{{ $caption := .Summary }}
{{ $scratch := newScratch }}
{{ with .Resources.ByType "image" }}
{{ range . }}
{{ $scratch.Set "thumbnail" (.Resize "300x") }}
{{ $thumb := $scratch.Get "thumbnail" }}
<a href="{{ $mainPermalink }}#{{ .Name | safeURL }}">
    <figure>
      <img src="{{ $thumb.RelPermalink }}" alt="{{ $caption }}" title="{{ $caption }}" />
    </figure>
</a>
{{ end }}
{{ end }}
{{ range .Resources.Match "*.mp4" }}
<video id="{{ .Name | safeURL }}" src="{{ .RelPermalink }}" controls></video>
{{ end }}
