language: python
python:
  - "3.7"
git:
  depth: false
env:
  global:
  - HUGO_VERSION="0.62.2"
  matrix:
  - secure: hM5zYGv3X/96y2SaLRMDkNWCXmOhkkLfOZ98crZ/PyAU3d8J0pAsQVtWtFMMearw+NJEEIDDEe2oKayIZJsMDyPMX+B3y3IaflgulYcksPAErlacY1C4MzFODuU5OX7TSefRktd7TtCrdEa6CWVoh61V0YlnY/j/O158Q/poa2t63B+H5Mx1fVObHB7sYkp6NI+rZRxz4cFPsF02XqW7E5dNcYV98v52TU1kYvGPqi35uHjVGomSKKr9pYK1kOLzrPtzBkt5kVGpx/fVEo4ug01qtKXVYrFaI26ddqKxasCQD1K5XuCh3XoTl7Z4E4aaZiLzN9yGxG4yoyyINvXP7R3ubcE+w+24Hq+AxR8IGf8UsaPxoPfvLVk4JN/6kTY8uhQZe1T6AewQjIg7MPdv43Lr2KU86EHodeA12RcfEWNMU/R2mQN6bmnyYD9hK7ABqZZYJfL/+RHQEk/Cs42I++HIgM2+SsOMpAqpz3JcDMG7aLUc7sIawKqM/Cc5zvSvFZibgCixw0hAH8BADky6rk4IPjUAPkjeRb5Dpk4Ful5snLJfhn2aaTAGqc/rE1svVKDGhN7Arbz/ylDx66lEcFMAJ0Z+xBoQJ0xlWw3UDIocxTardBjoJTQfR/vRQeXrBgbTtKn1sD9DZ1bZxGCC4fbhTmTIlMhkgJO+Y+lI21I=
install:
- wget -q https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_Linux-64bit.tar.gz
- tar xf hugo_${HUGO_VERSION}_Linux-64bit.tar.gz
- mv hugo ~/bin/
- pip install -r utils/requirements.txt
script:
- python utils/markov.py
- ls
- travis_wait ./build.sh 
deploy:
  provider: pages
  skip-cleanup: true
  github-token: "$GITHUB_TOKEN"
  keep-history: true
  local-dir: public
  repo: roytang/blog-published
  target-branch: master
  verbose: true
  on: 
  branch: master
