{{ if and (.IsPage) ($.Param "comments_enabled") (not (eq .Type "page")) }}
<div class="comments">

{{ if eq .Section "post" }}
{{ $related := (where .Site.RegularPages "Section" "post").Related . | first 5 }}
{{ with $related }}
<h3>See Also</h3>
<ul>
    {{ range . }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
{{ end }}
{{ end }}

{{ with .Resources.Match "like-*.json" }}
<div id="likes" class="likes-title"><h3>Likes</h3></div>
{{ range . }}
{{ $data := . | transform.Unmarshal }}
<a href="{{ $data.url }}"><i class="far fa-heart"></i> {{ $data.name }}</a>
{{ end }}
{{ end }}

{{ with .Resources.Match "comment-*.json" }}
<div id="comments" class="comments-title"><h3>Comments</h3></div>
{{ range sort . "Name" "asc" }}
{{ $data := . | transform.Unmarshal }}
<div class="comment">
    <h4>Comment by 
            {{ if $data.url }}
                <a href="{{ $data.url }}">{{ $data.name }}</a>
            {{ else }}
                <span class='linkless-commenter'>{{ $data.name }} </span>
            {{ end }}
            on <a href="{{ if $data.mention_url }}{{ $data.mention_url }}{{ else }}{{ $data.url }}{{ end }}">{{ $data.date }}</a></h4>
    {{ $data.text | markdownify }}
</div>
{{ end }}
{{ end }}

{{ if .Site.Params.comments_endpoint }}
<div id="comments-form-title"><h3>Leave a comment</h3></div>
<form id="comments-form" action="{{ .Site.Params.comments_endpoint }}" method="POST">
    <p><input name="name" placeholder="Your name" required /><input name="url" placeholder="Your URL (optional)" /></p>
    <p><textarea name="content" required placeholder="Your comment (markdown supported). Comments will be reviewed before appearing on the site." rows="3"></textarea></p>

    {{ if .Site.Params.recaptcha_key }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        var form = document.getElementById('comments-form');
        form.addEventListener("submit", function(event){
            if (grecaptcha.getResponse() === '') {                            
            event.preventDefault();
            alert('Please check the recaptcha');
            }
        }
        , false);
    </script>
    <div class="g-recaptcha" data-sitekey="{{ .Site.Params.recaptcha_key }}" data-size="compact"></div>
    {{ end }}

    <button type="submit" >Submit your comment</button>
</form>
{{ end }}

{{ $webmentionTarget := .Permalink }}
{{ with .Site.Params.webmention_username }}  
<div id="webmention-form-title"><h3>Leave a webmention (experimental)</h3></div>
<form id="webmention-form" action="https://webmention.io/{{ . }}/webmention" method="POST">
    <input name="target" value="{{ $webmentionTarget }}" type="hidden" />
    <input name="source" placeholder="Your URL that mentions this page" style="width:400px" required />
    <button type="submit" >Submit</button>
</form>
{{ end }}
</div>

{{ end }}
