{{ if and (.IsPage) ($.Param "comments_enabled") (not (eq .Type "page")) }}
<div class="comments">

{{ if eq .Section "post" }}
{{ $related := (where .Site.RegularPages "Section" "post").Related . | first 5 }}
{{ with $related }}
<h3>See Also</h3>
<ul>
    {{ range . }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
{{ end }}
{{ end }}

{{ with .Resources.Match "like-*.json" }}
<div id="likes" class="likes-title"><h3>Likes</h3></div>
{{ range . }}
{{ $data := . | transform.Unmarshal }}
<a href="{{ $data.url }}">
    <svg class="svg-icon" viewBox="0 0 20 20" width="12" height="12">
        <path d="M9.719,17.073l-6.562-6.51c-0.27-0.268-0.504-0.567-0.696-0.888C1.385,7.89,1.67,5.613,3.155,4.14c0.864-0.856,2.012-1.329,3.233-1.329c1.924,0,3.115,1.12,3.612,1.752c0.499-0.634,1.689-1.752,3.612-1.752c1.221,0,2.369,0.472,3.233,1.329c1.484,1.473,1.771,3.75,0.693,5.537c-0.19,0.32-0.425,0.618-0.695,0.887l-6.562,6.51C10.125,17.229,9.875,17.229,9.719,17.073 M6.388,3.61C5.379,3.61,4.431,4,3.717,4.707C2.495,5.92,2.259,7.794,3.145,9.265c0.158,0.265,0.351,0.51,0.574,0.731L10,16.228l6.281-6.232c0.224-0.221,0.416-0.466,0.573-0.729c0.887-1.472,0.651-3.346-0.571-4.56C15.57,4,14.621,3.61,13.612,3.61c-1.43,0-2.639,0.786-3.268,1.863c-0.154,0.264-0.536,0.264-0.69,0C9.029,4.397,7.82,3.61,6.388,3.61"></path>
    </svg>    
    {{ $data.name }}</a>
{{ end }}
{{ end }}

{{ $scratch := newScratch }}    

{{ with .Resources.Match "comment-*.json" }}
<div id="header-comments" class="comments-title"><h3>Comments</h3></div>
{{ range sort . "Name" "asc" }}
{{ $data := . | transform.Unmarshal }}
<div class="comment" id="comment-{{ $data.id }}">
    <div class="comment_meta">
    {{ $scratch.Set "photo" "/img/icons/anon.png" }}
    {{ with $data.photo }}
        {{ $scratch.Set "photo" . }}
    {{ end }}
    <a href="{{ $data.url }}">
        <img class="commenter-photo" src="{{ $scratch.Get "photo" }}" alt="{{ $data.name }}" />
    </a>
    <div class="commenter_name">
    {{ if $data.url }}
        <a href="{{ $data.url }}">{{ $data.name }}</a>
    {{ else }}
        <span class='linkless-commenter'>{{ $data.name }} </span>
    {{ end }}
    </div>
    <time><a href="{{ if $data.mention_url }}{{ $data.mention_url }}{{ else }}{{ $data.url }}{{ end }}">{{ $data.date }}</a><time>
    </div>
    <div class="comment_body">
        {{ $data.text | markdownify }}
    </div>
</div>
{{ end }}
{{ end }}


<div class="feedback">If you enjoyed my content for some reason, I'd love to hear from you! Here are some options:
<ul>
    <li>You can <a href="https://ko-fi.com/roytang">buy me a coffee!</a></li>
{{ $scratch.Set "twitterCount" 0 }}
{{ range .Params.syndicated }}
    {{ if and (eq .type "twitter") ( eq ($scratch.Get "twitterCount") 0 ) }}
    <li>You can <a href="{{ .url }}">share or reply to this post on Twitter</a>. {{ if eq .Section "post" }}Replies will appear as comments in this section.{{ end }}</li>
    {{ $scratch.Set "twitterCount" 1 }}
    {{ end }}
{{ end }}
{{ $scratch.Set "mastoCount" 0 }}
{{ range .Params.syndicated }}
    {{ if and (eq .type "mastodon") ( eq ($scratch.Get "mastoCount") 0 ) }}
    <li>You can <a href="{{ .url }}">share or reply to this post on Mastodon</a>. </li>
    {{ $scratch.Set "mastoCount" 1 }}
    {{ end }}
{{ end }}
{{ $oneYearAgo := (now.AddDate -1 0 0) }} 
{{ if and (eq .Section "post") ( ge .Date $oneYearAgo ) }}
{{ if .Site.Params.comments_endpoint }}
<li>You can submit a comment using the form below.
<form id="comments-form" action="{{ .Site.Params.comments_endpoint }}" method="POST">
        <p><input name="name" placeholder="Your name" required maxlength="200" />
            <input name="email" maxlength="200" placeholder="Your Email (optional, won't be published)" />
            <input name="url" maxlength="500" placeholder="Your URL (optional)" /></p>
        <p><textarea name="content" required placeholder="Your comment (markdown supported). Comments will be reviewed before appearing on the site." rows="3"></textarea></p>
    
        {{ if .Site.Params.recaptcha_key }}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
            var form = document.getElementById('comments-form');
            form.addEventListener("submit", function(event){
                if (grecaptcha.getResponse() === '') {                            
                event.preventDefault();
                alert('Please check the recaptcha');
                }
            }
            , false);
        </script>
        <div class="g-recaptcha" data-sitekey="{{ .Site.Params.recaptcha_key }}" data-size="compact"></div>
        {{ end }}
    
        <button type="submit" >Submit your comment</button>
    </form>
</li>    
{{ end }}    
{{ end }}
{{ $webmentionTarget := .Permalink }}
{{ with .Site.Params.webmention_username }}  
<li>You can write a reply on your own site and submit the URL as a <a href="https://indieweb.org/webmention">webmention</a> via the form below.
    <form id="webmention-form" action="https://webmention.io/{{ . }}/webmention" method="POST">
        <input name="target" value="{{ $webmentionTarget }}" type="hidden" />
        <input name="source" placeholder="Your reply URL" style="width:90%" required />
        <button type="submit" >Submit</button>
    </form>
</li>
{{ end }}
<li>Or you can just <a href="/about/contact">contact me</a>!</li>
</ul>
</div>

{{ end }}
