{{ $mainPermalink := .Permalink }}
{{ with .Params.featuredImage }}
    <div class="featured_image">
        <a href="{{ $mainPermalink }}">
            <figure>
            <img src="{{ . }}" />
            </figure>
        </a>
    </div>
{{ end }}

{{ if .Params.featuredResource }}
    {{ $mainPermalink := .RelPermalink }}
    {{ $caption := .Title | default .Summary }}
    <div class="featured_image">
        {{ if .Params.featuredResource.photo }}
            {{ $filename := .Params.featuredResource.filename }}
            {{ range where (where .Site.RegularPages "Section" "photos" ) ".RelPermalink" "==" .Params.featuredResource.photo }}
                {{ range .Resources.Match $filename }}
                    {{ partialCached "image_thumbnail" (dict "context" . "caption" $caption "mainPermalink" $mainPermalink) .Permalink }}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ range .Resources.Match .Params.featuredResource.filename }}
                {{ partialCached "image_thumbnail" (dict "context" . "caption" $caption "mainPermalink" $mainPermalink) .Permalink }}
            {{ end }}
        {{ end }}
    </div>
{{ end }}
