<div class="meta">
    <small>Posted by <a rel="author" class="p-author h-card" href="…">{{ .Site.Author.name }}</a> at 
    <a href="{{ .RelPermalink }}"><time class="dt-published" datetime="{{ .Date.Format .Site.Data.Formats.timestamp }}">{{ .Date.Format .Site.Data.Formats.datetime }}</time></a>
    </small>
    
    <p>
    {{ range .Params.tags }}
    <a class="tag p-category" href="{{ "/tags/" | absURL }}{{ . | urlize }}"><i class="fas fa-tag"></i>&nbsp;{{ .  | urlize }}</a>
    {{ end }}
    </p>

    
    <p>
    {{ range .Params.syndicated }}
    <a rel="syndication" title="View on {{ .type }}" class='
    {{ if eq (lower .type) "facebook"}}fab fa-facebook-square
    {{ else if eq (lower .type) "twitter"}}fab fa-twitter-square
    {{ else if eq (lower .type) "tumblr"}}fab fa-tumblr-square
    {{ else if eq (lower .type) "instagram"}}fab fa-instagram
    {{ else if eq (lower .type) "quora"}}fab fa-quora
    {{ else if eq (lower .type) "goodreads"}}fab fa-goodreads
    {{ else }}fa fa-external-link-alt{{ end }}
    u-syndication' href="{{ .url }}" title="View on {{ .type }}"></a>
    {{ end }}
    </p>

</div>