:root {
    --breadcrumb-color-1: #006400;
    --breadcrumb-color-2: #228B22;
    --breadcrumb-color-3: #24AD24;
    --breadcrumb-color-4: #3CB371; /* Max 4 levels breadcrumb */
    --breadcrumb-hover-color: #004400;
}
/* Adapted from https://codepen.io/johanmouchet/pen/WxpqBa */
.breadcrumb {
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    width: 100%;
  }
  .breadcrumb, .breadcrumb a {
    display: inline-block;
  }
  .breadcrumb a {
    text-rendering: optimizeLegibility;
    text-decoration: none;
    height: 32px;
    line-height: 32px;
    padding: 0 10px 0 20px;
    position: relative;
  }
  .breadcrumb a:first-child {
    padding-left: 16px;
  }
  .breadcrumb a:last-child {
    padding-right: 16px;
    pointer-events: none;
    cursor: default;
  }
  .breadcrumb a:last-child:after, .breadcrumb a:last-child:before {
    border: 0;
  }
  .breadcrumb a:after, .breadcrumb a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 2;
  }
  .breadcrumb a:before {
    margin-left: 1px;
    z-index: 1;
  }
  
  .breadcrumb {
    border-color: var(--breadcrumb-color-1);
  }
  .breadcrumb a {
    color: #c6c6c6;
    background-color: var(--breadcrumb-color-1);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 1px 0 var(--breadcrumb-color-3);
  }
  .breadcrumb a:after {
    border-left-color: var(--breadcrumb-color-1);
  }
  .breadcrumb a:before {
    border-left-color: var(--breadcrumb-color-2);
  }
  .breadcrumb a:hover, .breadcrumb a:focus {
    background: var(--breadcrumb-hover-color);
  }
  .breadcrumb a:hover:after, .breadcrumb a:focus:after {
    border-left-color: var(--breadcrumb-hover-color);
  }
  .breadcrumb a:active:before {
    border-left-color: var(--breadcrumb-hover-color);
  }
  .breadcrumb a:last-child {
    background-color: transparent;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    box-shadow: none;
  }
  