.hidden {
    display: none;
}

@media print {
    /* All your print styles go here */
    .panel,
    .mainfooter {
      display: none !important;
    }
    div, .list_item {
        border: none !important;
    }
}
  
.footnote {
    font-size: smaller;
}

.menu_title {
    font-weight: bold;
}

/* https://www.paritybit.ca/blog/styling-external-links.html */
a[href^="http"]:where(:not([href*="roytang.net"],[href*="localhost"]))::after, a[href^="https"]:where(:not([href*="roytang.net"],[href*="localhost"]))::after {
    display:inline-block;
    font:14px/1 ForkAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content:"︎↗";
    padding-left:.5em;
    font-size:.75em
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: smaller;
}

.navigation a {
    display: block;
}

.navigation .prev {
    text-align: left;
}

.navigation .next {
    text-align: right;
}

small {
    color: var(--deemphasized-text-color);
    font-size: smaller;
}

.title time, .comment time {
    color: var(--third-color);
    font-size: smaller;
    display: inline;
}


/* Tables */
article table {
    width: 100%;
}

article table tr:nth-child(even) {
    background: var(--alt-row-color);
}

article table tr:nth-child(odd) {
    background: var(--row-color);
}

article table td.numeric {
    text-align: right;
}


td {
    border-left: 1px var(--third-color);
    border-right: 1px var(--third-color);
    padding-left: 0.5em;
    padding-right: 0.5em;
}

@media (max-width: 480px) {

    .e-content table { 
        font-size: 2.5vw;
    }
 
}

/* https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* MTG Decklist */
.mtgdecklist {
    max-width: 100%;
}
.mtgdecklist .wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    grid-auto-rows: auto;
    grid-template-rows: auto;
    grid-gap: 0.1rem;
    background-color: var(--second-container-color);
}
@media (max-width: 40rem) {
    .mtgdecklist .wrapper {
        grid-template-columns: 1fr;
    }
}
.mtgdecklist .box {
    border: 0px solid var(--second-color);
    border-radius: 4px;
    padding: .5rem;
}
.mtgdecklist ul {
    list-style-type: none;
    padding: 0;
}

/* Logs */
.nick {
    font-weight: bold;
}

.nick0 { color: #149A1E; }
.nick1 { color: #2988D9; }
.nick2 { color: #A88427; }
.nick3 { color: #C47098; }
.nick4 { color: #9D8880; }
.nick5 { color: red; }
.nick6 { color: #8BA3BF; }
.nick7 { color: #4E9D1D; }
.nick8 { color: #2E7DE5; }
.nick9 { color: #E56823; }

.quote {
    font-style: italic;
    color: green;
}

.triviaq {
    font-weight: bold;
}

.trivia_instruction {
    font-style: italic;
}

.bup {
    color: #cc6666;
}

.command_b {
    font-weight: bold;
}

.command_sarcasm {
    color: #ff00ff;
}

.spoiler2 {
    color: var(--container-color);
}

.smiley {
    border: 0;
    display: inline;
    height: 2rem;
    width: auto !important; /* override width from .attachment */
    margin: 0;
    box-shadow: none;
    padding: 0;
}

img.attachment, video.attachment {
    width: 300px;
}

.attachment img {
    width: 300px;
}

.logs td {
    vertical-align: top;
}
