<article>

    {{ .Content }}

    <details>
        <summary>Tags</summary>
        <ul class="tags_list">
    {{ range .Site.Taxonomies.tags.ByCount }}
        <li><a href="/tags/{{ .Name | urlize  }}">{{ .Name }} ({{ .Count }})</a> </li>
    {{ end }}
    </ul>
    </details>

    {{ if .Site.Params.locations }}
    <details>
        <summary>Locations</summary>
        <ul class="tags_list">
    {{ range .Site.Taxonomies.locations.ByCount }}
        <li><a href="/locations/{{ .Name | urlize  }}">{{ .Page.Params.venue }} ({{ .Count }})</a> </li>
    {{ end }}
        </ul>
    </details>
    {{ end }}
    
    <ol class="entry_list {{ .Site.Params.list_class }}">
    {{ range .Site.RegularPages }}
        {{ .Render "list_item" }}
    {{ end }}
    </ol>
</article>
