{{ define "main" }}
<div class="breadcrumb">
    <a href="../../">Collections</a><a href="../">{{ .Site.Params.collection_title }}</a><a href="#">{{ .Title | default "This entry" }}</a>
</div>


<article class="single_post {{ .Type }} h-entry">
{{ .Render "single.hat" }}

{{ $mainRoot := .Site.Params.mainRoot }}
<ul class="related_posts">
{{ range .Params.related_posts }}
    {{ if .collection }}
    <li><a href="../../{{ .collection }}/{{ .key }}">{{ .text }}</a></li>
    {{ else }}
    <li><a href="{{ $mainRoot }}{{ .url }}">{{ .text }}</a></li>
    {{ end }}
{{ end }}
</ul>

{{ .Render "single.content" }}
{{ .Render "single.boot" }}
</article>
{{ end }}