{{ define "main" }}
{{ $scratch := newScratch }}
{{ $archYear := .Date.Format "2006" }}
{{ $archMonth := .Date.Format "January" }}

<section class="h-feed">
<h2 class="p-name">Archive for {{ $archMonth }} {{ $archYear }}</h2>

{{ $scratch.Set "postCount" 0 }}
{{ range where .Site.RegularPages "Section" "post" }}
    {{ if and (eq (.Date.Format "2006") $archYear) (eq (.Date.Format "January") $archMonth) }}
        {{ $scratch.Add "postCount" 1 }}
    {{ end }}
{{ end }}
{{ $scratch.Set "photosCount" 0 }}
{{ range where .Site.RegularPages "Section" "photos" }}
    {{ if and (eq (.Date.Format "2006") $archYear) (eq (.Date.Format "January") $archMonth) }}
        {{ $scratch.Add "photosCount" 1 }}
    {{ end }}
{{ end }}

<a href="#posts">Posts ({{ $scratch.Get "postCount" }})</a> :: <a href="#photos">Photos ({{ $scratch.Get "photosCount" }})</a>

<h3 id="posts">Posts</h3>
{{ range where .Site.RegularPages "Section" "post" }}
    {{ if and (eq (.Date.Format "2006") $archYear) (eq (.Date.Format "January") $archMonth) }}
        {{ .Render "list_item" }}
    {{ end }}
{{ end }}
</section>

<h3 id="photos">Photos</h3>
<div class="image-list">
{{ range where .Site.RegularPages "Section" "photos" }}
    {{ if and (eq (.Date.Format "2006") $archYear) (eq (.Date.Format "January") $archMonth) }}
        {{ .Render "image_list" }}
    {{ end }}
{{ end }}
</div>
</section>

{{ partial "block/navigation" . }}

{{ end }}