{{ partial "head" . }}
<article id="main-content" class="container main_content single">
<h3>Posts Archive</h3>
{{ $all_posts := where .Site.Pages "Section" "post" }}
<em>{{ len ($all_posts) }} posts total</em>

{{ range (where .Site.Pages "Section" "post").GroupByDate "2006 January" }}
<h3>{{ .Key }}</h3>
<ul>
    {{ range where .Pages "Kind" "page" }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a> <small>{{ .Date.Format "Mon, Jan 2, 2006" }} ({{ .WordCount }} words)</small></li>
    {{ end }}
</ul>
{{ end }}

</article>
{{ partial "foot" . }}
