{{ define "main" }}
  <section class="h-feed">
      {{ with .Params.description }}
      <p class="p-name">{{ . | markdownify }}.</p>
      {{ else }}
      <p class="p-name">{{ .Title }}.</p>
      {{ end }}
      <p>You can subscribe to an <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}">RSS feed</a> of this list.</p>
      {{ range .Pages }}
          <div class="home_item photos">
            {{ $caption := .Title }}
            {{ $mainPermalink := .RelPermalink }}
            {{ $scratch := newScratch }}
            {{ $scratch.Set "count" 0 }}
            {{ range .Pages }}
                {{ $count_for_page := .Resources.ByType "image" | len }}
                {{ $scratch.Add "count" $count_for_page }}
            {{ end }}
            {{ $count := $scratch.Get "count" }}
            {{ range (first 1 .Pages) }}
                {{ with .Resources.ByType "image" }}
                    {{ range (first 1 .) }}
                    {{ partialCached "image_thumbnail" (dict "context" . "caption" $caption "mainPermalink" $mainPermalink) .Name }}
                    {{ end }}
                {{ end }}
            {{ end }}
            <a href="{{ $mainPermalink }}"><span class="photo_label">{{ $caption | truncate 50 }} {{ if gt $count 1 }}({{ $count }} images){{ end }}</span></a>
          </div>          
      {{ end }}
</section>
{{ end }}