{{ define "main" }}
<section class="second_menu">
  <ul>
    <li><a href="/photos">All Photos</a></li>
    <li class="active">Albums</li>
  </ul>
</section>
<section class="albums">
    <p class="sub">You can subscribe to an <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}">RSS feed</a> of this list.</p>
    <div class="image-list">
    {{ range .Pages }}
        <article class="album_item">
            {{ $caption := .Title }}
            {{ $mainPermalink := .RelPermalink }}
            {{ $scratch := newScratch }}
            {{ $scratch.Set "count" 0 }}
            {{ range .Pages }}
                {{ $count_for_page := .Resources.ByType "image" | len }}
                {{ $scratch.Add "count" $count_for_page }}
            {{ end }}
            {{ $count := $scratch.Get "count" }}
            <a href="{{ $mainPermalink }}"><span class="photo_label">{{ $caption | truncate 50 }} {{ if gt $count 1 }}({{ $count }} images){{ end }}</span></a>
            {{ range (first 1 .Pages) }}
                {{ with .Resources.ByType "image" }}
                    {{ range (first 1 .) }}
                    {{ partialCached "image_thumbnail" (dict "context" . "caption" $caption "mainPermalink" $mainPermalink) .Name }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </article>          
    {{ end }}
    </div>
</section>
{{ end }}