<div class="card" id="{{ .Date.Format "2006-01-02" }}-{{ .File.ContentBaseName }}">
    <div class="card_wrapper">
      {{ $mainTitle := .Title }}
      {{ with .Resources.ByType "image" }}
        {{ range . }}
            {{ $scratch := newScratch }}
            {{ $scratch.Set "thumbnail" (.Resize "300x") }}
            {{ $thumb := $scratch.Get "thumbnail" }}
        
            <figure>
                <img src="{{ $thumb.RelPermalink }}" title="{{ .Title | default .Name }}" alt="{{ $mainTitle }}" />
            </figure>
            {{ break }}
        {{ end }}
      {{ end }}        
      <div class="card_body">
        <h4><a class="u-url post-title p-name" href="{{ .RelPermalink }}">{{ if .Title }}{{ .Title }}{{ else }}### NO TITLE!! ###{{ end }}</a></h4>
        <p>{{ len (.Resources.ByType "image") }} item(s)</p>
      </div>
    </div>
</div>