{{ if (.IsPage) }}
<div class="comments" id="comments">

{{ $scratch := newScratch }}    

{{ with .Resources.Match "comment-*.json" }}
<div id="header-comments" class="comments-title"><h3>Comments</h3></div>
{{ range sort . "Name" "asc" }}
{{ $data := . | transform.Unmarshal }}
<div class="comment" id="comment-{{ $data.id }}">
    <div class="comment_meta">
    {{ $scratch.Set "photo" "/img/icons/anon.png" }}
    {{ with $data.photo }}
        {{ $scratch.Set "photo" . }}
    {{ end }}
    <a href="{{ $data.url }}">
        <img class="commenter-photo" width="30" height="30" src="{{ $scratch.Get "photo" }}" alt="{{ $data.name }}" />
    </a>
    </div>
    <div class="comment_body">
        <div class="commenter_name">
            {{ if $data.url }}
                <a href="{{ $data.url }}">{{ $data.name }}</a>
            {{ else }}
                <span class='linkless-commenter'>{{ $data.name }} </span>
            {{ end }}
        </div>

        {{ $data.text | markdownify }}

        {{ if $data.attachment }}
            <p><img src="{{ $data.attachment }}" /></p>
        {{ end }}
        <time><a href="{{ if $data.source_url }}{{ $data.source_url }}{{ else }}{{ $data.url }}{{ end }}">{{ $data.date }}</a><time></time>
    </div>
</div>
{{ end }}
{{ end }}

{{ end }}
