<div class="meta">
    {{ .Section }}
    {{ partial "block/tags" . }}
    {{ partial "block/syndication" . }}
    {{ if .Params.via }}
        via <a href="{{ .Params.via.url }}">{{ .Params.via.name }}</a>
    {{ end }}

    {{ if .Params.locations }}
    {{ partialCached "block/locations" . .Params.locations }}
    {{ end }}

    {{ $comments := len (.Resources.Match "comment-*.json") }}
    {{ if gt $comments 0 }}
    <a href="{{.RelPermalink}}">
        <span role="img" aria-label="comment">&#x1F4AC;</span>
        {{ $comments }}</a>
    {{ else }}
    <a href="{{ .RelPermalink }}">#</a>
    {{ end }}
</div>