table.grid_archive td.arc {
    text-align: center;
}
table.grid_archive a {
    text-decoration: none;
}
.spoiler {
    display: none;
}
.mtgdecklist {
    width:100%;margin:0px auto;
}
.mtgdecklist .header h4 {
    font-size:150%;font-weight:bold;text-align:center;
}
.mtgdecklist .wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.mtgdecklist .box {
    padding: 20px;
    border: 1px black solid;
}
.mtgdecklist .section_header {
    font-size:100%;font-weight:bold; 
}
.feed_container small {
    font-size: 75%; color: gray;
}

.list_archive { display: none; }
.topline img { border-radius: 50% }  

@media screen and (max-width: 640px) { 
    .topline { display: none; }  
    .grid_archive { display: none; }
    .list_archive { display: initial; }
    .main_header {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}

/* Dark mode! */
.main_wrapper > .main_header {
    background-color: rgb(0, 0, 0);
}
.main_wrapper {
    background-color: rgb(30, 32, 37);
}
.main_wrapper > .main_content, .main_wrapper > .main_content h1, .main_wrapper > .main_content h3, .main_wrapper > .main_content h4 {
    color: white;
}
.main_wrapper > .main_content h1 {
    color: white;
}