table.grid_archive td.arc {
    background-color:#dceaeb;
    text-align: center;
}
table.grid_archive a {
    text-decoration: none;
    color: black;
}
.spoiler {
    display: none;
}
.mtgdecklist {
    width:100%;margin:0px auto;
}
.mtgdecklist .header h4 {
    font-size:150%;font-weight:bold;text-align:center;
}
.mtgdecklist .wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.mtgdecklist .box {
    padding: 20px;
    border: 1px black solid;
}
.mtgdecklist .section_header {
    font-size:100%;font-weight:bold; 
}
.feed_container small {
    font-size: 75%; color: gray;
}