.collections .tags_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.collections .tags_list li {
    padding: 4px;
}

blockquote.embed .embed_foot {
    text-align: right;
    font-size: var(--font-size-smaller);
    color: var(--deemphasized-text-color);
}

body.collections_comics .entry_list, body.collections_sketchbook .entry_list, .embed .entry_list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

body.collections_comics .entry_list img, body.collections_sketchbook .entry_list img {
    width: 90px;
}

body.collections_albums .pxgallery img, body.collections_webcomics .pxgallery:has(:nth-child(2)) img {
    width: 120px;
}

.embed figure {
    width: 45%;
}

.embed img {
    width: 100%;
}

/* Embeds that only have one image */
.embed .entry_list:not(:has(figure:nth-child(2))) figure {
    width: 85%;
    margin: auto;
}

blockquote.embed {
    margin-top: 5px;
    margin-bottom: 5px;
}

.galleryitemwithpostlink {
    display: flex;
    flex-direction: column;
}

.galleryitemwithpostlink > div {
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
}

.galleryitemwithpostlink a.postlink {
    font-size: smaller;
}

/* adapted from https://codepen.io/utilitybend/pen/bGvjLba */

.card {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: var(--second-container-color);
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 0;
}
  
.card a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
.card figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
  
.card img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}
  
.card_body {
    padding-left: 24px;
    padding-right: 24px;
}
  
.card a {
    display: inline-flex;
    align-items: center;
}
  
/* using the has() relational pseudo selector to update our custom properties */
.card:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
  
.collections_list, body.collections_albums .entry_list, body.collections_webcomics .entry_list {
    display: grid;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
}

body.collections_quiznights .list_item .title {
    display: grid;
    grid-template-columns: 6em 1fr;
}