.collections .tags_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.collections .tags_list li {
    padding: 4px;
}

blockquote.embed .embed_foot {
    text-align: right;
    font-size: var(--font-size-smaller);
    color: var(--deemphasized-text-color);
}

body.collections_comics .entry_list, body.collections_sketchbook .entry_list, .embed .entry_list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

body.collections_comics .entry_list img, body.collections_sketchbook .entry_list img {
    width: 90px;
}

body.collections_albums .pxgallery img {
    width: 120px;
}

.embed figure {
    width: 45%;
}

.embed img {
    width: 100%;
}

/* Embeds that only have one image */
.embed .entry_list:not(:has(figure:nth-child(2))) figure {
    width: 85%;
    margin: auto;
}

blockquote.embed {
    margin-top: 5px;
    margin-bottom: 5px;
}

.galleryitemwithpostlink {
    display: flex;
    flex-direction: column;
}

.galleryitemwithpostlink > div {
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
}

.galleryitemwithpostlink a.postlink {
    font-size: smaller;
}