.collections .tags_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.collections .tags_list li {
    padding: 4px;
}

blockquote.embed .embed_foot {
    text-align: right;
    font-size: var(--font-size-smaller);
    color: var(--deemphasized-text-color);
}

body.collections_comics .entry_list {
    display: flex;
    flex-wrap: wrap;
}

body.collections_comics .entry_list img {
    width: 90px;
}

blockquote.embed {
    margin-top: 5px;
    margin-bottom: 5px;
}