:root {
    --main-color: #57cc8a;
    --second-color: coral;
    --third-color: rgb(32, 192, 192);
    --container-color: #353b43;
    --second-container-color: #454f53;
    --side-container-color: #353f18;
    --background-color: #242930;
    --text-color: #dfdfdf;
    --inverse-text-color: #242930;
    --alt-row-color: #333;
    --row-color: #454b53;
    --lightbox-bg-color: rgba(0, 0, 0, 0.8);
    --overlay-bg-color: rgba(0, 0, 0, 0.6);
    --overlay-text-color: var(--text-color);
    --deemphasized-text-color: gray;
}