:root {
    --main-color:  rgb(64, 64, 192);
    --second-color:  green;
    --third-color: rgb(32, 92, 92);
    --container-color: #e5ebf3;
    --second-container-color: #c5cfd3;
    --side-container-color: #c5cff3;
    --background-color: white;
    --text-color: #242930;
    --inverse-text-color: #dfdfdf;
    --alt-row-color: #ccc;
    --row-color: #d5dbe3;
    --overlay-text-color: #dfdfdf;
    --deemphasized-text-color: gray;
}