/*
@font-face {
    font-family: 'Be Vietnam Pro';
    font-weight: 400;
    font-style: normal;
    src: url(fonts/BeVietnamPro-Regular.woff2) format('woff2');
}
*/

@font-face {
    font-family: 'Menlo';
    font-weight: 400;
    font-style: normal;
    src: url(fonts/Menlo-Regular.woff) format('woff');
}

:root {
    --font-size: 0.8*calc(1rem + 0.25vw); /* https://jameshfisher.com/2024/03/12/a-formula-for-responsive-font-size/ */
    --font-size-slightly-smaller: calc(0.8 * (1rem + 0.25vw));
    --font-size-smaller: calc(0.65 * (1rem + 0.25vw));
    --content-width: 95ch;
}

body {
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-position: 0 0;
    background-image: url(tagimgs/drkgrn.jpg);
    background-color: green;
    font-family: "Menlo", "Segoe UI", sans-serif;
    font-size: var(--font-size);
}

body.tag_comics {
    background-image: url(tagimgs/houseofmgray2.jpg);
}

body.tag_software-development {
    background-image: url(tagimgs/code.png);
}

.main_content {
    display: flex;
    justify-content: center;
}

blockquote {
    max-width: 95%;
    margin: auto;
}

.main {
    border-radius: 16px;
    padding: 1rem;
    max-width: var(--content-width);
    min-width: 60%;
}

.panel {
    padding: 8px;
}

.mainfooter {
    padding: 8px;
    font-size: var(--font-size-smaller);
}

@media (min-width: 900px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 240px; /* Two columns: main_content and side panel */
        grid-template-rows: 3rem auto; /* Single row for simplicity */
    }
    
    .main_content {
        grid-column: 1;
        grid-row: 2;
    }
    
    .panel {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    
    .mainfooter {
        grid-column: 2;
        grid-row: 2;
    }
}

@media (max-width: 900px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
      
    .main_content {
        grid-row: 2;
        padding: 0.5rem;
    }
      
    .panel {
        grid-row: 1;
    }
      
    .mainfooter {
        grid-row: 3;
    }
}

.toc_wrapper {
    position: fixed;
    left: 1px;
    top: 5rem;
    background-color: var(--background-color);
    border: 1px var(--text-color) solid;
    border-radius: 2px;
    max-height: 90%;
    overflow-y: auto;
    padding: 8px;
    font-size: var(--font-size-smaller);
}

.backtotop {
    position: fixed;
    right: 1px;
    bottom: 5px;
    background-color: var(--background-color);
    border: 1px var(--text-color) solid;
    border-radius: 2px;
    padding: 2px;
    font-size: var(--font-size-smaller);
}

@media screen and (min-height: 20px) {
    .backtotop {
        opacity: 1; /* Make it fully visible */
    }
}

.meta, .comment, .feedback {
    font-size: var(--font-size-smaller);
    border: 1px dotted;
    padding: 5px;
    margin: 5px;
}

blockquote {
    border: 1px dotted;
    padding: 5px;
    border-left: 3px var(--main-color) solid;
    font-size: var(--font-size-slightly-smaller);
}

.comment:nth-child(even) {
    border-left: 3px var(--second-color) solid;
}

.comment:nth-child(odd) {
    border-left: 3px var(--third-color) solid;
}


.list_item {
    border: 1px solid;
    padding: 5px;
    margin: 5px;
}

.second_menu {
    max-width: var(--content-width);
    margin-inline: auto;
}

.second_menu > ul {
    list-style-type: none;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    padding: 0;
}

.second_menu > ul > li {
    border: 0;
    border: 1px var(--second-color) dashed;
    text-align: center;
}

.second_menu > ul > li.active {
    background-color: var(--container-color);
    color: var(--inverse-text-color);
}

.second_menu > ul > li:hover {
    background-color: var(--second-color);
    color: var(--inverse-text-color);
}

.second_menu > ul > li:hover a {
    color: var(--inverse-text-color);
}

.list_item.quotes {
    border: 0;
    border-bottom: 1px solid;
}

.entry_list.compact .title {
    display: grid;
    grid-template-columns: 3em 1fr; /* Two columns */
}

.line_item .title {
    display: grid;
    grid-template-columns: 6em 1fr; /* Two columns */
}

.meta {
    color: var(--deemphasized-text-color);
    text-align: right;
}

.badge {
    word-break: normal;
	vertical-align: middle;
	display: inline-flex;
	margin: 2px 0;
	gap: 4px;
	-webkit-box-align: center;
	align-items: center;
	color: var(--third-color);
	background: var(--second-container-color);
	border: 1px solid var(--third-color);
	border-radius: 4px;
	padding: 4px;
	line-height: 1;
	text-transform: uppercase;
	opacity: .75;
	font-weight: 700;
}

.badge.location {
	color: var(--main-color);
	border: 1px solid var(--main-color);
}

.badge.syndication {
	color: var(--second-color);
	border: 1px solid var(--second-color);
}

.badge.blog::before {
    content: "🖊️";
}

.badge.logs::before {
    content: "🪵";
}

.badge.photos2::before {
    content: "📷";
}

.badge.notes::before {
    content: "📝";
}

.badge.location::before {
    content: "🌏";
}

.badge.syndication::before {
    content: "🔗";
}

.entry_list {
    padding-inline-start: 0;
}

.entry_list > li {
    list-style: none;
}

ul, ol {
    padding-inline-start: 3em;
}

.panel {
    border-bottom: 2px var(--second-color) solid;
    display: grid;
    grid-template-columns: 10rem repeat(auto-fill, 6rem);
}
  
.panel a {
    color: var(--second-color);
    padding: 0.5rem;
    text-align: center;
}

.panel a:hover {
    background-color: var(--second-color);
    color: var(--inverse-text-color);
}

a {
    color: var(--second-color);
    text-decoration-color: var(--second-color);
    text-decoration-thickness: auto;
    text-underline-offset: 0.3ex;
}

.about-author img.u-photo {
    height: 4rem;
    margin: 0.5rem;
    border-radius: 50%;
    float: left;
    vertical-align: center;
}

.sidebar_menu li {
    list-style: none;
}

img.link {
    width: 1.5em;
}

.sub {
    font-size: var(--font-size-smaller);
    color: var(--third-color);
}

.pagination {
    font-size: var(--font-size-smaller);
}

.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: masonry;
}

figure {
    margin: 0;
}

img.tn {
    height: auto; /* Ensure correct aspect ratio */
}

.lightbox_overlay {
    font-size: var(--font-size-smaller);
    border: 1px var(--second-color) solid;
    border-radius: 15px;
}

figcaption {
    font-size: var(--font-size-smaller);
    font-weight: bolder;
    text-align: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

/* image list with only one child */
.image-list-single, .image-list:not(:has(:nth-child(2))) {
    display: grid;
    grid-template-columns: 1fr;
}

.image-list img, .image-list-single img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 0.5rem;
}

.comment {
    display: grid;
    grid-template-columns: 40px auto;
}

.comments {
    font-size: var(--font-size-smaller);
}

/* Something fun lol */
.image-list a { transform:rotate(2deg); }
.image-list a:hover { transform:rotate(0deg) !important; transition: transform 0.25s linear; }
.image-list a:nth-child(3n) { transform:rotate(-2deg); }
.image-list a:nth-child(5n) { transform:rotate(1deg); }
.image-list a:nth-child(7n) { transform:rotate(-1deg); }

time {
    color: var(--third-color);
    font-size: 0.8em;
    display: inline;
}

video {
    max-width: 95%;
}

article {
    max-width: 80ch;
}

article, .comment_body {
    word-break: break-word;
}

#shareopenly img {
    border: 1px solid var(--second-color);
    border-radius: 2px;
    padding: 2px;
    background-color: gray;
}

.list_item.blog .post-title:not(.badge) {
    font-size: larger;
    margin: 0;
}

.list_item .title {
    display: flex;
    column-gap: 5px;
    margin-bottom: 3px;
}

div.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
