<div class="header_icons">
    {{ with .Site.Params.twitter }}
    <a id="contact-link-twitter" rel="me" class="contact_link" href="https://twitter.com/{{ . }}">
      <span class="fab fa-twitter-square"></span><span>twitter</span></a>
    {{ end }}

    {{ with .Site.Params.linkedin }}
    <a id="contact-link-linkedin" rel="me" class="contact_link" href="https://www.linkedin.com/in/{{ . }}">
      <span class="fab fa-linkedin"></span><span>linkedin</span></a>
    {{ end }}
    
    {{ with .Site.Params.github }}
    <a id="contact-link-github" rel="me" class="contact_link" href="https://github.com/{{ . }}">
      <span class="fab fa-github-square"></span><span>github</span></a>
    {{ end }}

    {{ if and (.Site.Params.rss) (.RSSLink) }}
    <a id="contact-link-rss" class="contact_link" href="{{ .RSSLink }}" type="application/rss+xml">
      <span class="fa fa-rss-square"></span><span>rss</span></a>
    {{ end }}
    
    {{ with .Site.Author.email }}
    <a id="contact-link-email" rel="me" class="contact_link" href="mailto:{{ . }}">
      <span class="fa fa-envelope-square"></span><span>email</span></a>
    {{ end }}
</div>