{{ if and (.IsPage) ($.Param "comments_enabled") }}
<div class="comments">
<h3>Comments</h3>

{{ $v1 := where .Site.Pages "Section" "comment" }}
{{ $url := urls.Parse .Permalink }}		
{{ $v2 := where .Site.Pages "Params.parent_page.urlpath" $url.Path }}

{{ $filtered := $v1 | intersect $v2 }}
{{ range sort $filtered "Params.date" }}
<div class="comment">
    <h4 class="p-name">Comment by 
            {{ if .Params.author.url }}
                <a href="{{ .Params.author.url }}">{{ .Params.author.name }}</a>
            {{ else }}
                {{ .Params.author.name }} 
            {{ end }}
            on <a href="{{ .Permalink  }}">{{.Date.Format "2006-01-02"}}</a></h4>
        
    {{.Content}}
</div>
{{ end }}
</div>

<i>Comments are temporarily disabled. We'll be back soon!</i>

{{ end }}
