{{ define "main" }}
{{ $scratch := newScratch }}
{{ $archMonth := now.Format "January" }}
{{ $archDay := now.Format "02" }}

<section class="h-feed">
<h2 class="p-name">On this day</h2>

{{ $slice := slice }}
{{ range (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ if and (eq (.Date.Format "02") $archDay) (eq (.Date.Format "January") $archMonth) }}
        {{ $slice = $slice | append . }}
    {{ end }}
{{ end }}
{{ range $slice.GroupByDate "2006" }}
    <h3>{{ .Key }}</h3>
    {{ range .Pages }}
        {{ .Render "list_item" }}
    {{ end }}
{{ end }}
</section>

</section>

{{ end }}