{{ define "main" }}

{{ $sections := .Site.Data.Home }}
{{ $sitePages := .Site.RegularPages }}
{{ range $sections }}
  <h2 class="p-name">{{ .label }}</h2>
  <p class="sub">{{ .descrip }}</p>
  <article>
      {{ $pages := first .count (where site.RegularPages "Type" .section) }}    
      <div class="{{ .list_class }}">
      {{ range $pages }}
          {{ .Render "home_item" }}
      {{ end }}
      </div>
  </article>  
  <p class="home_article_footer"><a href="/{{ .section }}">View all</a> ({{ len (where $sitePages "Section" "==" .section ) }} items)</p>
{{ end }}

<p></p>

{{ end }}