{{ define "main" }}
<section class="h-feed">
    <a class="u-url" href="/"></a>
    <h1 class="p-name">Recent Activity</h1>
    {{ $pages := first 50 (where site.RegularPages "Type" "in" site.Params.mainSections) }}    
    {{ range $pages.GroupByDate .Site.Data.Formats.date }}
        <h3>{{ .Key }}</h3>
        {{ partial "block/entry-list" . }}        
    {{ end }}
</section>

<p>Want to read more? You can browse different types of content below:</p>
{{ partial "block/section-list" . }}
{{ end }}