{{ partial "head" . }}

{{ partial "block/hero" . }}

<section class="h-feed">
    <a class="u-url" href="{{ .Site.Params.baseURL }}"></a>
    <h3 class="p-name">Recent Posts</h1>
    <ul>
        {{ range first 20 (where .Site.RegularPages "Section" "post") }}
        <li class="h-entry"><a class="p-name" href="{{ .Permalink }}">{{ .Title }}</a> <small class="dt-published" datetime="{{ .Date.Format .Site.Data.Formats.timestamp }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</small></li>
        {{ end }}
    </ul>
</section>

<p>Want to read more? Browse <a href="/post/">ALL THE POSTS</a>!</p>
{{ partial "foot" . }}
