{{ define "main" }}

{{ if .Site.Params.collections_root }}

<div class="breadcrumb">
    <a href="#">Collections</a>
</div>

<p>Blah blah blah... </p>

<div class="collections_list entry_list">
{{ $collections := site.Data.Collections }}
{{ range $collections }}
    <div class="card">
        <div class="card_wrapper">
          <div class="card_body">
            <h4><a class="u-url post-title p-name" href="{{ .path }}">{{ .label }}</a></h4>
            <p>{{ .descrip }}</p>
          </div>
        </div>
    </div>    
{{ end }}
</div>

{{ else }}
<div class="breadcrumb">
    <a href="../">Collections</a><a href="#">{{ .Site.Params.collection_title }}</a>
</div>

<article>

    {{ .Content }}

    <details>
        <summary>Tags</summary>
        <ul class="tags_list">
    {{ range .Site.Taxonomies.tags.ByCount }}
        <li><a href="/tags/{{ .Name | urlize  }}">{{ .Name }} ({{ .Count }})</a> </li>
    {{ end }}
    </ul>
    </details>
    
    <ol class="entry_list {{ .Site.Params.list_class }}">
    {{ range .Site.RegularPages }}
        {{ .Render "list_item" }}
    {{ end }}
    </ol>
</article>

{{ end }}
{{ end }}