{{ define "main" }}

{{ if .Site.Params.collections_root }}

<div class="breadcrumbs">
    <ul class="breadcrumb">
        <li>Collections</li>
    </ul>
</div>
    
<ul>
    <li><a href="quotes/">Quotes</a></li>
    <li><a href="lyrics/">Lyrics</a></li>
    <li><a href="lyrics/">Comics</a></li>
</ul>

{{ else }}
<div class="breadcrumbs">
<ul class="breadcrumb">
    <li><a href="../">Collections</a></li>
    <li>{{ .Site.Params.collection_title }}</li>
</ul>
</div>

<article>

    {{ .Content }}

    <details>
        <summary>Tags</summary>
        <ul class="tags_list">
    {{ range .Site.Taxonomies.tags.ByCount }}
        <li><a href="/tags/{{ .Name | urlize  }}">{{ .Name }} ({{ .Count }})</a> </li>
    {{ end }}
    </ul>
    </details>
    
    <ol class="entry_list">
    {{ range .Site.RegularPages }}
        {{ .Render "list_item" }}
    {{ end }}
    </ol>
</article>

{{ end }}
{{ end }}