{{ define "main" }}

{{ if .Site.Params.collections_root }}

<div class="breadcrumb">
    <a href="#">Collections</a>
</div>

{{ $collectionGroups := site.Data.Collections }}
{{ range $collectionGroups }}
  <div class="group">
    <h2>{{ .groupname }}</h2>
    <div class="collections_list entry_list">
    {{ range .groupitems }}
    <div class="card">
        <div class="card_wrapper">
          <div class="card_body">
            <h4><a class="u-url post-title p-name" href="{{ .path }}">{{ .label }}</a></h4>
            <p>{{ .descrip }}</p>
          </div>
        </div>
    </div>    
    {{ end }}
    </div>
  </div>
{{ end }}


{{ else }}
<div class="breadcrumb">
    <a href="../">Collections</a><a href="#">{{ .Site.Params.collection_title }}</a>
</div>

{{ .Render .Site.Params.home_template }}

{{ end }}
{{ end }}