{{ $path := printf "/photos/%s" (.Get 0) }}
{{ $param2 := (.Get 1) }}
{{ $filename := printf "%s*.*" ($param2) }}
{{ $paramCaption := (.Get 2) }}
{{ range where (where .Site.RegularPages "Section" "photos" ) ".RelPermalink" "==" $path }}
    {{ $mainPermalink := .RelPermalink }}
    {{ if $paramCaption }}
       {{ .Scratch.Set "summary" $paramCaption }}
    {{ else }}
        {{ .Scratch.Set "summary"  .Summary }}
    {{ end }}
    {{ $summary := .Scratch.Get "summary" }}
    {{ if $param2 }}
        {{ range .Resources.Match $filename }}
            <a href="{{ $mainPermalink }}">
                <figure>
                <img src="{{ .RelPermalink }}" alt="{{ $summary }}" title="{{ $summary }}" />
                <figcaption>
                    {{ if not (eq .Name .Title) }}{{ .Title }}{{ else }}{{ $summary }}{{ end }}
                </figcaption>
                </figure>
            </a>
        {{ end }}
    {{ else }}
        {{ range .Resources.ByType "image" }}
            <a href="{{ $mainPermalink }}">
                <figure>
                <img src="{{ .RelPermalink }}" alt="{{ $summary }}" title="{{ $summary }}" />
                <figcaption>
                    {{ if not (eq .Name .Title) }}{{ .Title }}{{ else }}{{ $summary }}{{ end }}
                </figcaption>
                </figure>
            </a>
        {{ end }}
    {{ end }}
{{ end }}