<div class="mtgdecklist">
    <div class="header">
        <h4>{{ .Get "title" }}<hr></h4>
    </div>
{{ $s := newScratch }}    
{{ $s.Set "LineCount" 0 }}
{{ range split (.Inner) "\n" }}
    {{ $line := trim (.) "\n\r " }}
    {{ if gt (len $line) 0 }}
    {{ $s.Add "LineCount" 1 }}
    {{ end }}
{{ end }}
{{ $s.Add "LineCount" -1 }}
{{ $s.Set "ColumnLimit" (div ($s.Get "LineCount") 3) }}
{{ $s.Set "CurrentLine" 0 }}
{{ $s.Set "CurrentLineInCurrentColumn" 0 }}
<div class="content">
    <div class="wrapper">
        <div class="box">
            {{ range split (.Inner) "\n" }}
                {{ $line := trim (.) "\n\r " }}
                {{ if gt (len $line) 0 }}
                    {{ if hasPrefix $line "[/" }}
                </ul>
                        {{ if (gt ($s.Get "CurrentLineInCurrentColumn") ($s.Get "ColumnLimit")) }}
                            {{ if (lt ($s.Get "CurrentLine") ($s.Get "LineCount")) }}
        </div>
        <div class="box">
                            {{ end }}
                            {{ $s.Set "CurrentLineInCurrentColumn" 0 }}
                        {{ end }}
                    {{ else if hasPrefix $line "[" }}
            <div class="section_header">{{ $line }}</div>
                <ul>
                    {{ else }}
                    <li>{{ . }}</li>
                    {{ end }}
                    {{ $s.Add "CurrentLine" 1 }}
                    {{ $s.Add "CurrentLineInCurrentColumn" 1 }}
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>
<p></p>